In [7]:
import pandas as pd
from datetime import datetime
import os

In [2]:
USER_HOME = os.path.expanduser('~')
DATA_PATH = os.path.join(USER_HOME, 'Desktop', 'blackfedora')

APRIL_PATH = os.path.join(DATA_PATH, '2020April')
FEB_PATH = os.path.join(DATA_PATH, '2020Feb')

## Event Schedule

In [3]:
file_name = 'event_schedule.csv'

In [4]:
april_events = pd.read_csv(os.path.join(APRIL_PATH, file_name))
april_events.shape

(2550, 9)

In [5]:
feb_events = pd.read_csv(os.path.join(FEB_PATH, file_name))
feb_events.shape

(2550, 9)

In [8]:
feb_events['start_time'] = feb_events['timestamp'].apply(lambda x: datetime.fromtimestamp(int(x)))

In [14]:
april_events['start_time'] = april_events['timestamp'].apply(lambda x: datetime.fromtimestamp(int(x)))

In [16]:
set(feb_events.id.tolist()) - set(april_events.id.tolist())

set()

In [17]:
april_events[april_events.id == 2727]

,id,show_id,start_time,month,day,year,timestamp,num_tickets_remain,num_tickets_sold
2134,2727,11,1969-12-31 19:00:00,0,0,0,0,0,0

In [15]:
msk = (april_events.start_time.dt.year == 2020) & (april_events.start_time.dt.month == 4)

april_events[msk].head()

Empty DataFrame
Columns: [id, show_id, start_time, month, day, year, timestamp, num_tickets_remain, num_tickets_sold]
Index: []

In [18]:
msk = (feb_events.start_time.dt.year == 2020) & (feb_events.start_time.dt.month == 4)

feb_events[msk]

,id,show_id,start_time,month,day,year,timestamp,num_tickets_remain,num_tickets_sold
2134,2727,11,2020-04-04 17:30:00,0,0,0,1586035800,0,0
2135,2726,7,2020-04-03 20:00:00,0,0,0,1585958400,0,0
2136,2725,11,2020-04-02 20:00:00,0,0,0,1585872000,0,0
2137,2724,1,2020-04-01 20:00:00,0,0,0,1585785600,0,0
2294,2728,13,2020-04-04 20:30:00,0,0,0,1586046600,0,0
2295,2729,7,2020-04-05 19:00:00,0,0,0,1586127600,0,0
2296,2730,11,2020-04-07 20:00:00,0,0,0,1586304000,0,0
2297,2731,1,2020-04-08 20:00:00,0,0,0,1586390400,0,0
2298,2732,13,2020-04-09 20:00:00,0,0,0,1586476800,0,0
2299,2733,7,2020-04-10 20:00:00,0,0,0,1586563200,0,0
2300,2734,13,2020-04-11 17:30:00,0,0,0,1586640600,0,0
2301,2735,11,2020-04-11 20:30:00,0,0,0,1586651400,0,0
2302,2736,1,2020-04-14 20:00:00,0,0,0,1586908800,0,0
2303,2737,13,2020-04-15 20:00:00,0,0,0,1586995200,0,0
2304,2738,11,2020-04-16 20:00:00,0,0,0,1587081600,0,0
2305,2739,7,2020-04-17 20:00:00,0,0,0,1587168000,0,0
2306,2740,11,2020-04-18 17:30:00,0,0,0,1587245400,0,0
2307,2741,13,2020-04-18 20:30:00,0,0,0,1587256200,0,0
2308,2742,7,2020-04-19 19:00:00,0,0,0,1587337200,0,0
2309,2743,1,2020-04-21 20:00:00,0,0,0,1587513600,0,0
2310,2744,11,2020-04-23 19:30:00,0,0,0,1587684600,0,36
2311,2745,13,2020-04-24 20:00:00,0,0,0,1587772800,0,0
2312,2746,7,2020-04-25 20:00:00,0,0,0,1587859200,0,0
2313,2747,13,2020-04-26 19:00:00,0,0,0,1587942000,0,0
2314,2748,7,2020-04-28 20:00:00,0,0,0,1588118400,0,0
2315,2749,1,2020-04-30 20:00:00,0,0,0,1588291200,0,0

## Person

In [ ]:
person_name = 'person.csv'

In [ ]:
april_person = pd.read_csv(os.path.join(APRIL_PATH, person_name))
april_person.shape

In [ ]:
feb_person = pd.read_csv(os.path.join(FEB_PATH, person_name))
feb_person.shape

## Show

In [ ]:
show_name = 'show.csv'

In [ ]:
april_show = pd.read_csv(os.path.join(APRIL_PATH, show_name))
april_show.shape

In [ ]:
feb_show = pd.read_csv(os.path.join(FEB_PATH, show_name))
feb_show.shape

## Ticket

In [ ]:
ticket_name = 'ticket.csv'

In [ ]:
april_ticket = pd.read_csv(os.path.join(APRIL_PATH, ticket_name))
april_ticket.shape

In [ ]:
feb_ticket = pd.read_csv(os.path.join(FEB_PATH, ticket_name))
feb_ticket.shape

## Transaction

In [ ]:
transaction_name = 'transactions.csv'

In [ ]:
april_trans = pd.read_csv(os.path.join(APRIL_PATH, transaction_name))
april_trans.shape

In [ ]:
feb_trans = pd.read_csv(os.path.join(FEB_PATH, transaction_name))
feb_trans.shape